<div class="planet-card">
            <img src="path/to/your/image.jpg" class="card-img-top" alt="Land Image">
            <div class="card-body">
              <div class ="details">
                <div class="listing-details">
                  <p class="price"><%= land.price %></p>
                  <p class="address"><%= land.address %></p>
                  <p class="area"><%= land.area %></p>
                </div>
              </div>
            </div>
          </div>
