<div class="puzzle-body" data-controller="puzzle" data-land-id=<%= @land.id %> data-user-id=<%= current_user.id %>>
    <h1 class="text center my-5">Conquer the puzzle to conquer the land!</h1>
    <table class="puzzle-table">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
      </tr>
      <tr>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
      </tr>
      <tr>
        <td>13</td>
        <td>14</td>
        <td class="empty"></td>
        <td>15</td>
      </tr>
    </table>
</div>
