<%= render "pages/navbar" %>
<h1></h1>

<style>
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
  }

  .card {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
  }

  .list-group-item {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
</style>



<div class="container">
  <div class="card">
    <div class="card-body">
      <ul class="list-group">
        <% @lands.each do |land| %>
          <li class="list-group-item"><%= land.price %></li>
          <li class="list-group-item"><%= land.address %></li>
          <li class="list-group-item"><%= land.area %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
