.booking-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.booking-card {
  background-color: grey;
  width: 100%;
  height: 400px;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booking-card-img {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  border-radius: 16px;
  margin-bottom: 16px;
}

.booking-card-top-info {
  display: flex;
  justify-content: space-between;
  p {
    margin: 0;
  }
}

.booking-card-bot-info {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 12px;
  p {
    margin: 0;
    align-self: flex-end;
  }
}

.btn-card-grey {
  padding: 12px 15px;
  border-radius: 10px;
  background-color: darkgray;
  color: black;
  display: inline;
}

.btn-create {
  padding: 24px 32px;
  background-color: darkgrey;
  font-weight: 600;
  font-size: 20px;
  border-radius: 12px;

}

.dash-header {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
 }
