// Specific CSS for your home-page
a:link {
  text-decoration: none;
}



// body {
//   background-color: pink;
//   background-color: #0d6efd40,
// }

.banner-nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    // font-weight: 701;
    margin: 0;
    color: white;
  }
  p {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 700;
    font-size: 20px;

  }
}

.banner-nav {
  height: 120px;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}

.btn-brown-nav {
    background-color: rgb(112, 112, 249);
    color: white;
    padding: 10px 30px;
    border-radius: 40px;
    border: 0px;
    display: inline;
    transition: 0.3s ease;
    box-shadow: 7px 7px 5px rgba(15, 2, 2, 0.2);
    &:hover {
      background-color: rgba(145, 134, 134, 0.689);
      transition: 0.3s ease;
    }
    font-weight: 700;
}


.section {
  margin-top: 30px;
  padding: 24px 0;


}

.middle-section {
  background-color: rgb(112, 112, 249);
  box-shadow: 10px 10px 5px rgba(15, 2, 2, 0.2);
}

.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(15, 2, 2, 0.2);
  h4 {
    margin-bottom: 50px;
  }
  margin: 30px;
}

.top-section-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(112, 112, 249);
  box-shadow: 10px 10px 5px rgba(15, 2, 2, 0.2);
  width: 250px;
  height: 300px;
  text-align: center;
  align-items: center;
  padding: 48px 24px;
  border-radius: 5px;
}

.number-icon{
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 5px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font-weight: 800;
}

.top-section-card-container {
  display: flex;
  justify-content: space-between;
}

.middle-section-card {
    /* Adjust width, margin, padding as necessary */
    width: 300px; /* Example width, adjust as needed */
    margin: 10px; /* Example margin, adjust as needed */
    /* Other properties */
  p {
    font-size: 16px;
  }
}
.middle-section-card-container {
  display: flex;
  justify-content: space-between; /* or space-around */
  flex-wrap: nowrap; /* Optional, prevents wrapping */
  /* Add more properties if needed */
}

.home-planet-img {
  height: 100%;
  width: 100%;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin: auto;
  padding: 8px;
  position: absolute;
  right: 50%;
  bottom: 35px;
  transform: rotate(45deg);
  size: 30px;
}

.homepage-reviews{
  background-color: white;
}
