.showpage-large-img {
  width: 100%;
  height: 404px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.showpage-small-img {
  width: 100%;
  height: 190px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sml-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.favourite-button {
  background-color: lightgrey;
  padding: 16px 24px;
  border-radius: 5px;
  text-align: center;
  width: 60%;
  font-weight: 600;
  margin: 24px 0;
}

.showpage-title {
  font-size: 30px;
  margin-bottom: 16px;
}

.show-user-info {
  align-items: center;
  display: flex;
  padding: 24px 0;
}

.show-user-info-text {
  margin-left: 16px;
  p {
    margin: 0;
  }
  h6 {
    font-weight: 600;
    margin: 0;
  }
}

.show-header {
  font-weight: 600;
  margin-top: 24px;
}

.form-container {
  padding: 24px;
}

a:link {
  color: black;
}

.review-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-top: 32px;
  border-top: solid;
}

.review-comment {
  h2 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
    margin: 0;
  }
  p {
    margin: 0;
  }
  padding: 16px 0;
  border-bottom: 2px solid rgba(195, 195, 195, 0.4);
  width: 100%;
}
.review-comments {
  width: 55%;
}

.review-form {
  width: 40%;
  background-color: rgba(195, 195, 195, 0.4);
  padding: 16px;
  height: 280px;
}
