.showpage-large-img {
  width: 100%;
  height: 404px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.showpage-small-img {
  width: 100%;
  height: 190px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sml-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.favourite-button {
  background-color: lightgrey;
  padding: 16px 24px;
  border-radius: 5px;
  text-align: center;
  width: 60%;
  font-weight: 600;
  margin: 24px 0;
}

.showpage-title {
  font-size: 30px;
  margin-bottom: 16px;
}

.show-user-info {
  align-items: center;
  display: flex;
  padding: 24px 0;
}

.show-user-info-text {
  margin-left: 16px;
  p {
    margin: 0;
  }
  h6 {
    font-weight: 600;
    margin: 0;
  }
}

.show-header {
  font-weight: 600;
  margin-top: 24px;
}

.form-container {
  padding: 24px;
}
