

<div class="footer">
  <div class="container d-flex justify-content-between">


    <ul class="footer-list">
    <li>Instagram</li>
    <li>Facebook</li>
    <li>About us</li>
    <li>FAQs</li>
    </ul>


    <div class="footer-logo-tagline">
      <%= image_tag( 'cosmos-atom-logo.png', height: '60', width: '60') %>
      <p>Come to mars, get a tan.</p>
    </div>
  </div>
</div>
