<div class="navbar">
  <div class="container d-flex jutify-content-between">
    <div>
      <h1 link_to root>CosmosMarket</h1>
    </div>
    <div class="d-flex">
      <%= link_to new_user_session_path do %>
        <p class='btn-brown'>Sign in</p>
      <% end %>
      <%= link_to new_user_registration_path do %>
        <p class='btn-brown'>Sign up</p>
      <% end %>
    </div>
  </div>
</div>
