<div class="navbar">
  <div class="container d-flex jutify-content-between">
    <div>
      <%= link_to root_path do %>
        <h1 style="color: black;">CosmosMarket</h1>
      <% end %>
    </div>
    <div class="d-flex">
      <%= link_to new_user_session_path do %>
        <p class='btn-brown'>Sign in</p>
      <% end %>
      <%= link_to new_user_registration_path do %>
        <p class='btn-brown'>Sign up</p>
      <% end %>
    </div>
  </div>
</div>

<!-- Navbar middle btn-->

<%= link_to lands_path do %>
  <p class="btn-grey" style="margin: 0; color: black;">Lands</p>
<% end %>
