<div class="navbar">
  <div class="container d-flex jutify-content-between">
    <div>
       <%= link_to root_path do %>
        <h1 style="color: black;">CosmosMarket</h1>
      <% end %>
    </div>
    <div>
      <%= link_to dashboard_path do %>
        <i class="fa-solid fa-user avatar-icon"></i>
      <% end %>
    </div>
  </div>
</div>


<!-- Navbar middle btn-->
<%= link_to lands_path do %>
  <p class="btn-grey" style="margin: 0; color: black;">Lands</p>
<% end %>
