.footer {
  background-color: rgb(142, 135, 222);
  background-image: url('../../images/Lava.png');
  margin-top: auto;
}

.footer-logo-tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0px;
  padding-top:20px;
}

.footer-list {
  list-style: none;
  margin: 16px 0px;
}
