.footer {
  background-color: rgb(238, 238, 238);
  margin-top: auto;
}

.footer-logo-tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0px;
}

.footer-list {
  list-style: none;
  margin: 16px 0px;
}
