.footer {
  background-color: rgba(102, 14, 137, 0.858);
  margin-top: auto;
}

.footer-logo-tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0px;
  padding-top:20px;
}

.footer-list {
  list-style: none;
  margin: 16px 0px;
}
