

.card {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.list-group-item {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.radius-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  border-radius: 25px;
  padding: 10px;
  margin: 0;
  width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
}

.button-search {
  border: 0;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 200;
}

.button-search > img {
  position: absolute;
  left: -22px;
  top: 12px;
  width: 21px;
  height: 21px;
}

.call-to-action{
  text-align: center;
  font-size: 31px;
  padding: 0px;
}
